:root {
    color-scheme: light dark;

    background-color: light-dark(#f5ede2, #1b1815);
    color: light-dark(#000000, #FFFFFF);
}

main {
    font-family: "EB Garamond", "Times New Roman", Arial, serif;
    font-size: 20px;

    max-width: 700px;
    margin: auto;

    p {
        text-align: justify;
        line-height: 1.3em;
        margin-block: 0.1em;

        + p {
            text-indent: 0.75em;
        }
    }

    hr {
        border: none;
    }
}

// https://garethsouthwell.substack.com/p/formatting-your-book-paragraphs-and
